<% layout('layout/boiler_plate')%>
<style>

.well{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    padding: 20px;
}
.profile-card {
    width: 500px; /* Increased width */
    padding: 30px; /* Increased padding */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
    background-color: #68acff; /* New background color */
    color: white;
    margin: auto;
}
</style>

<div class="well profile-card">
<br>
<h1>About </h1>
<br>
<p style="max-width: 700px; margin: auto;">
    The manager of a supermarket wants us to develop an automation software. 
    The supermarket stocks a set of items.
    Customers pick up their desired items from the different counters in required quantities. 
    The customers present these items to the sales clerk. 
    The sales clerk passes the items over a bar code reader and an automatic weighing scale and the data regarding the item type and the quantity get registered.
</p>

</div>