<% layout('layout/boiler_plate')%>

<style>


  .table{
    background-color: #68ACFF;
  }
  tr:hover{
    background-color: #68ACFF;
  }
  .table td{
    border:#177df9 solid 1px;

  }
  .table th{
    border:#177df9 solid 1px;
    color: white;
  }



  .dropdownitems a{
    text-decoration: none;
     color: white;
  padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
   
    background-color: #177df9;
    border-radius: 10px;
    width: 100%;
    
    
  }
  .dropdownitems{
    list-style-type: none;
    padding: 0px;
    margin:0px;
  }
  .dropdownitems li{
    
     margin: 10px;
     height: fit-content;
     position: relative;

     
  
  }
 button {
    border-radius: 20px;
    border: 1px solid #68acff;
    background-color: #68acff;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }

  button:active {
    transform: scale(0.95);
  }

  button:focus {
    outline: none;
  }

  button.ghost {
    background-color: transparent;
    border-color: #ffffff;
  }
  ::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #177df9; 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px #177df9; 
}

h2{
  margin-top: 20px;
  margin-bottom: 20px;
}

</style>

<div style="margin: auto;">

  <div id = "reader" style="position:relative; margin:auto; overflow: hidden;">
  </div>
<div id = "result"></div>
    <form autocomplete="off" action="/bill" method="POST">
    <h2>Billing</h2>
    <br>
    <div class="row clearfix">
      <div class="col-md-12">
        <table   class="table table-bordered table-hover" id="tab_logic">
          <thead>
            <tr>
              <th class="text-center"> Sr. No. </th>
              <th class="text-center" style="width: 10%;"> Product Code </th>
              <th class="text-center"> Product </th>
              <th class="text-center" style="width: 20%;"> Qty </th>
              <th class="text-center"> Price </th>
              <th class="text-center"> Total </th>
            </tr>
          </thead>
          <tbody>
            <tr id='addr0'>
              <td>1</td>
              <td><input type="text" name='code[]' placeholder='#' class="form-control id" readonly/></td>
              <td>
                <!-- <input type="search" name='product[]'  placeholder='Enter Product Name' class="form-control" oninput="myfunc(this)"  required/> -->
                 <select  type="search" id = "select_0" name='product[]'  placeholder='Enter Product Name' class="form-control" onchange="putitem(this,this.value)" required>
                   <option disabled selected value> -- Select an Item -- </option>
                  <%for (var i=0;i<items.length;i++){%>
                        <% if (items[i].quantity !== 0) { %>
                              <option  value="<%=items[i].item_code%>"><%=items[i].item_name%></option>            
                        <% } %>
                        
                    <%}%>
              </select>
                <ul class="dropdownitems" id="allItems0">
                    
                </ul>
              </td>
              <td><input type="number" name='qty[]' value="0" max="0" placeholder='Enter Qty' class="form-control qty" step="1" min="0"/></td>
              <td><input type="number" name='price[]' placeholder='Unit Price' class="form-control price" readonly/></td>
              <td><input type="number" value="0" name='total[]' placeholder='0.00' class="form-control total" readonly/></td>
              
            </tr>
            <tr id='addr1'></tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-12">
        <button type="button" id="add_row" >Add New Item</button>
        <button type="button" id='delete_row'  style="background-color: white; color: #68acff">Delete Last Item</button>
      </div>
    </div>

    <br>
    
    <div class="row clearfix" style="margin-top:20px">
      <div class="">
        <table class="table table-bordered table-hover" id="tab_logic_total">
          <tbody>
            <tr>
              <th class="text-center">Sub Total</th>
              <td class="text-center"><input type="number" value="0" name='sub_total' placeholder='0.00' class="form-control" id="sub_total" readonly/></td>
            </tr>
            <tr>
              <th class="text-center">GST %</th>
              <td class="text-center"><div class="input-group mb-2 mb-sm-0">
                  <input type="number" class="form-control" id="tax" name="tax" min="0" value="0" placeholder="0">
                  <div class="input-group-addon"> %</div>
                </div></td>
            </tr>
            <tr>
              <th class="text-center">Tax Amount</th>
              <td class="text-center"><input type="number" value="0" name='tax_amount' id="tax_amount" placeholder='0.00' class="form-control" readonly/></td>
            </tr>
            <tr>
              <th class="text-center">Grand Total</th>
              <td class="text-center"><input type="number" value="0" name='total_amount' id="total_amount" placeholder='0.00' class="form-control" readonly/></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <button type="submit button" class="btn btn-lg btn-primary">Create Bill</button>
    <br>
</form>
<br>

  </div>

<style>
  .dropdownitems{
    max-height:30vh;
    overflow:auto; 
  }
</style>

  <script>
    $(document).ready(function(){
    var i=1;
    $("#add_row").click(function(){b=i-1;
        $('#addr'+i).html($('#addr'+b).html()).find('td:first-child').html(i+1);
        $('#addr'+i).find('#allItems'+b).attr("id","allItems"+i);
        $('#addr'+i).find("#allItems"+i)[0].style.display = "block"
      	$('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
      	i++; 
  	});
    $("#delete_row").click(function(){
    	if(i>1){
		$("#addr"+(i-1)).html('');
		i--;
		}
    else{
      alert("Bill must have atleast 1 item!!")
    }
		calc();
	});
	
	$('#tab_logic tbody').on('keyup change',function(){
		calc();
	});
	$('#tax').on('keyup change',function(){
		calc_total();
	});
});

function calc()
{
	$('#tab_logic tbody tr').each(function(i, element) {
		var html = $(this).html();
		if(html!='')
		{
			var qty = $(this).find('.qty').val();
			var price = $(this).find('.price').val();
			$(this).find('.total').val(qty*price);
			
			calc_total();
		}
    });
}

function calc_total()
{
	total=0;
	$('.total').each(function() {
        total += parseInt($(this).val());
    });
	$('#sub_total').val(total.toFixed(2));
	tax_sum=total/100*$('#tax').val();
	$('#tax_amount').val(tax_sum.toFixed(2));
	$('#total_amount').val((tax_sum+total).toFixed(2));
}

function myfunc(y)
{
    x=y.parentElement.parentElement.id
    x=x.substring(4)

    z=document.getElementById("addr"+x)
    z.children[1].children[0].value='#'
    z.children[3].children[0].value=0
    z.children[3].children[0].max=0
    z.children[4].children[0].value=''
    z.children[5].children[0].value=0

    var input, filter, ul, li, a, i, txtValue;
    input = y;
    filter = input.value.toUpperCase();

    ul = document.getElementById("allItems"+x);
    ul.style.display="block";
    li = ul.getElementsByTagName('li');

    
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
        li[i].style.display = "";
        } else {
        li[i].style.display = "none";
        }
    }
}

var itemAdded = {

}
function putitem(y,i)
{
  itemAdded[i] = true;
  console.log(y)
    const data = <%- JSON.stringify(items) %>
    i = data.filter((item) => {if(item.item_code == i){
      return true;
    }})[0];
    console.log(i);
    x=y.parentElement.parentElement.id
    console.log(x)

    x=x.substring(4)

    <%i=JSON.parse(i)%>

    var input, filter, ul, li, a, i, txtValue;
    ul = document.getElementById("allItems"+x);
    if(ul.style.display === "none"){

    }else{
      try{
      const addRow = document.getElementById("add_row")
      addRow.click();
      }catch(err){
        console.log(err);
      }
    }
    ul.style.display="none"
    input=document.getElementById("addr"+x)
    input.children[1].children[0].value=i.item_code
    input.children[2].children[0].value=i.item_code
    input.children[3].children[0].value = 1
    input.children[3].children[0].min = 1;
    input.children[3].children[0].max=i.quantity
    input.children[4].children[0].value=i.unit_price
    console.log("item", i.item_code);
}



function qrCodeStart(items){
  

try{

  const scanner = new Html5QrcodeScanner("reader", {
    qrbox:{
      width: 250,
      height: 250
    },
    fps: 60
  });
  
    
  scanner.render(qrSuccess, qrError)
  
  function qrSuccess(result){
    try{
      var item = items.filter((item) => {if(item._id == result){return true;}});
      console.log(item)
    
    var rows = document.querySelectorAll('#tab_logic tbody tr');

// Iterate over the rows in reverse order
for (var i = rows.length - 1; i >= 0; i--) {
    // Get the select element in the current row
    var select = rows[i].querySelector('select');
    // Check if a select element exists in the current row
    if (select) {
        // This row contains a select element, so it's the last row with a select
        var element = rows[i];
        // Exit the loop
        break;
    }
}

// Now you have the last row in the tbody that contains a select element
element = element.querySelector('select');

      if(item.length == 0){
        window.alert("Product qr code not found")
      }else if(!element){
        window.alert(`${item[0].item_name} is sold out!`)
      }

      
    
      if(itemAdded[item[0].item_code]){
        console.log("already added")
        return;
      }
      putitem(element, item[0].item_code);
      
    
    
    document.getElementById("result").innerHTML = `
    <h2>Added Item: ${item[0].item_name}<h2>
    
    `
    
    
    document.getElementById("reader").style.display = "none"
    setTimeout(() => {
      document.getElementById("reader").style.display = "block"
      document.getElementById("result").innerHTML = ``
    }, 2000)
  }catch(err){
    console.log(err)
  }
  }
  
   
  
  
  function qrError(error){
    
  }
}catch(err){
  console.log(err);
}
}

  qrCodeStart(<%- JSON.stringify(items) %>);


  </script>